main#content {
    min-height: calc(100vh - 337px);
}

@media print {
    .header {
        display: none;
    }

    .featured-img {
        max-height: 220px;
    }

    @page {
        size: a3;
    }
}