.hover:hover {
    transition: 0.3s;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12) !important;
}

.no-padding {
    padding: 0 !important;
}

.circle-img {
    border-radius: 50%;
}

.result {

    h1,
    h2,
    p {
        margin: 0 0 0.8rem 0 !important;
    }
}