.card {
    border: $borders;
    border-radius: $card-border-radius;
    overflow: hidden;
    padding: 2rem;
    transition: 0.3s;
    height: 100%;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1.5rem;
}

.card-title,
.card-text {
    @extend %text-limit;
}

.card-title {
    margin: 0 0 0.45rem 0;
    font-weight: 600;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    font-size: 1.25rem;

    a {
        color: $heading-font-color !important;
        text-decoration: none !important;
    }
}

.card-subtitle {
    margin-bottom: 0.7rem;
    font-size: 0.85rem;
}

.card-text {
    margin: 0;
    line-height: 1.5;
    font-size: 0.96rem;
    -webkit-line-clamp: 3;

    a {
        color: $font-color !important;
        text-decoration: none !important;
    }
}

@include small-breakpoint {
    .card-img {
        height: 150px;
        object-fit: cover;
    }
}